<style>
    body {
        background-color: aliceblue; /* Цвет фона веб-страницы */
    }

    .api_request {
        width: 95%;
        margin: 0.5%;
        margin-left: 1.2%;
    }

    .api_priority {
        width: 15%;
        margin: 0.5%;
        margin-left: 0.8%;
    }

    .api_retry{
        width: 15%;
        margin: 0.5%;
        margin-left: 1.5%;
    }

    .api_schedule{
        width: 15%;
        margin: 0.5%;
        margin-left: 0.3%;
    }

    .api_result {
        color: red;
        font-size: 16pt;
        width: 15%;
        margin: 1%;
    }

    .api_requesttype{
        margin-left: 3.5%;
        margin-bottom: 2%;
    }

    .api_supplier {
        width: 15%;
        margin: 0.5%;
        margin-left: 1.3%;
    }

    .api_type {
        width: 15%;
        margin: 0.5%;
        margin-left: 1%;
    }

    .jobs {
        width: 15%;
        margin: 0.5%;
        margin-left: 1.8%;
    }

    .tasks{
        width: 15%;
        margin: 0.5%;
        margin-left: 1.3%;
    }

    .task{
        width: 15%;
        margin: 10px;
        margin-left: 1.8%;
    }

    .submit{
        width: 10%;
    }

</style>

{{ form_start(createQuenyform) }}
{{ form_end(createQuenyform) }}
{{ form_start(form_t) }}
{{ form_end(form_t) }}
{{ form_start(form2) }}
{{ form_end(form2) }}
{{ form_start(form3) }}
{{ form_end(form3) }}
{{ form_start(form4) }}
{{ form_end(form4) }}
</br>
<a href="/login ">click here to re-LOGIN/LOGOUT</a>
</br>
<a href="/showcron ">click here for return to main menu</a>
