<style>
    body {
        background-color: aliceblue;
    }

    .api_answer {
        height: 50%;
        width: 95%;
        resize: vertical;
        font-size: 14pt;
        white-space: normal;
        text-align: start;
    }

    .api_request {
        width: 95%;
        margin: 0.5%;
        margin-left: 0.1%;
    }

    .api_type {
        width: 15.5%;
        margin-left: 0.5%;
    }

    .api_url {
        margin-left: 1.7%;
        width: 95%;
    }

    .api_result {
        color: red;
        font-size: 18pt;
        width: 95%;
        margin: 1%;
        margin-left: 0.5%;
    }

    .sup_choose{
        width: 15.5%;
    }

    .query_choose{
        width: 15.5%;
        margin-left: 1%;
    }

    .api_label
    {
        width: 15.5%;
        margin-left: 1%;
    }
    .submit
    {
        margin: 0.3%;
        width: 10%;
    }

</style>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{{ form_start(form2) }}
{{ form_end(form2) }}
{{ form_start(form3) }}
{{ form_widget(form3) }}
{{ form_end(form3) }}

<a href="/login ">click here to re-LOGIN/LOGOUT</a>
</br>
<a href="/showcron ">click here for return to mainmenu</a>
