<style>
    body {

    }

    .submit
    {
        width: 10%;
    }

    .sup_label{
        width: 20%;
        margin: 0.5%;
        margin-left: 2%;
    }

    .sup_choose{
        width: 20%;
        margin: 0.5%;
        margin-left: 1%;
    }

    .sup_login{
        width: 20%;
        margin: 0.5%;
        margin-left: 2.2%;
    }

    .sup_password{
        width: 20%;
        margin: 0.5%;
        margin-left: 1%;
    }

    .sup_grant{
        width: 20%;
        margin: 0.5%;
        margin-left: 0.6%;
    }

    .api_result {
        color: red;
        font-size: 18pt;
        width: 20%;
        margin: 1%;
        margin-left: 2.5%;
    }

    .sup_delay{
        width: 20%;
        margin: 0.5%;
        margin-left: 2.2%;
    }

    .sup_url{
        width: 20%;
        margin: 0.5%;
        margin-left: 1.6%;
    }

    .sup_token{
        width: 20%;
        margin: 0.5%;
        margin-left: 0.8%;
    }

    .sup_oath{
        width: 20%;
        margin: 0.5%;
        margin-left: 0.15%;
    }

    .sup_new{
    }

</style>

<p>
    <span style="font-size: 250%; color:red ;">
        WARNING! BE CAREFUL!
    </span>
</p>

{{ form_start(form2) }}
{{ form_end(form2) }}
{{ form_start(form) }}
{{ form_end(form) }}
{{ form_start(form3) }}
{{ form_end(form3) }}
{{ form_start(form4) }}
{{ form_end(form4) }}
</br>
<a href="/login ">click here to re-LOGIN/LOGOUT</a>
</br>
<a href="/showcronalt ">click here for return to mainmenu</a>