<style>
    .submit
    {
        width: 10%;
    }

   .user_list{
       margin: 0.5%;
       margin-left: 2.58%;
       width: 20%;
   }

   .user_password{
       margin: 0.5%;
       margin-left: 1.58%;
       width: 20%;
   }

    .user_email{
        margin: 0.5%;
        margin-left: 2.7%;
        width: 20%;
    }

   .api_result {
       color: red;
       font-size: 18pt;
       width: 20%;
       margin: 1%;
       margin-left: 2.5%;
   }
</style>

<p>
    <span style="font-size: 250%; color:red ;">
        WARNING! BE CAREFUL!
    </span>
</p>

{{ form_start(form) }}
{{ form_end(form) }}
{{ form_start(form2) }}
{{ form_end(form2) }}
{{ form_start(form3) }}
{{ form_end(form3) }}
{{ form_start(form4) }}
{{ form_end(form4) }}
</br>
<a href="/login ">click here to re-LOGIN/LOGOUT</a>
</br>
<a href="/showcronalt ">click here for return to mainmenu</a>